# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/

# Django local data
db.sqlite3
*.sqlite3.*
staticfiles/
الملفات التي ممنوعات ارفعهن/
.env
.env.*

# IDE and OS
.vscode/
.idea/
*.log
.DS_Store
Thumbs.db
